h1 {
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: hwb(300 10% 69%);
    padding: 0px;
    margin: 0px;
}
.navbar a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: block;
}