body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to right, #7d08d7, #0d0b3a);
    background-attachment: fixed;
    color: #f0f0ff;
    padding: 30px 16px;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.topnav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.topnav ul{
  list-style-type: none;
  text-align: center;
  border-radius: 30px;
  margin: 0px;
  padding: 20px 30px;
  display: inline-block;
  background: #161329;


  
}
.topnav li {
    margin: 10px 0;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topnav a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 1em;
    transition: all 0.2s ease;

   
}



.topnav a:hover,
.topnav a.active {
    background: #7d08d7; 
    scale: (1.08);
}

